ThreeCommander/resources.php
ThreeCommander/boring
ThreeCommander/custom
ThreeCommander/multi
*.o
*.O
*.exe
*debug/
.idea/
*.bin
main
/ThreadSynchronization/CMakeCache.txt
/ThreadSynchronization/cmake_install.cmake
CMakeFiles/
